nav, aside, main, section {
  border: 1px dotted red;
  padding: 1vw;
  margin-top: 4vh;
}
aside {
  float: left;
  width: 30vw;
}
.open > aside {
  transform: translate(-33vw);
  transition: transform .3s;
}
main {
  margin-left: 33vw;
  transition: margin-left .3s;
}
.open > main {
  margin-left: 0;
}
